.content {
    width: 90vw;
    margin: 0 auto;
    display: grid;
}

#drawing {
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
}

#placement {
    background-color: darkgrey;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 90vh;
    height: 90vh;
    min-width: 90vh;
    min-height: 90vh;
    max-width: 90vh;
    max-height: 90vh;
    margin-right: 2vw;
}

#placement .player--icon {
    width: 4vh;
    height: 4vh;
}

#placement--row {
    display: flex;
}

#graph {
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    width: 80vh;
    height: 80vh;
    min-width: 80vh;
    min-height: 80vh;
    max-width: 80vh;
    max-height: 80vh;
}

.inner--graph {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
}

.inner--graph.left {
    border-right: 1px dashed rgb(116, 114, 114);
}

.inner--graph.right {
    border-left: 1px dashed rgb(116, 114, 114);
}

.inner--graph.top {
    border-bottom: 1px dashed rgb(116, 114, 114);
}

.inner--graph.bottom {
    border-top: 1px dashed rgb(116, 114, 114);
}

#select {
    border-radius: 10px;
    background-color: darkgrey;
}

#questionnaire {
    border-radius: 10px;
    background-color: darkgrey;
    padding: 20px;
    margin: 10px;
}

#buttons {
    margin: 5px;
    margin-bottom: 20px;
}

#select--icons {
    display: flex;
    flex-wrap: wrap;
}

.player--icon {
    border-radius: 20%;
    background-color: aliceblue;
    width: 6vh;
    height: 6vh;
    user-select: none;
}

.theme {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-weight: bold;
    user-select: none;
    text-align: center;
    line-height: 5vh;
}

.theme__x {
    writing-mode: vertical-rl;
    width: 5vh;
    min-width: 5vh;
    max-width: 5vh;
}

.theme__y {
    height: 5vh;
    min-height: 5vh;
    max-height: 5vh;
}

.dummy {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
}

#select--gui {
    display: flex;
}

#formButton {
    margin: 5px;
    display: flex;
}

.twitter-share-button {
    font-size: large;
}

#placement--clone {
    padding: 5px;
    border-radius: 10px;
    width: 512px;
    height: 512px;
}

.none {
    display: none;
}

.removed {
    opacity: 0;
    user-select: none;
    z-index: -1;
}

@media screen and (max-width:1024px) {
    #drawing {
        flex-wrap: wrap;
    }
    #placement {
        background-color: darkgrey;
        border-radius: 10px;
        padding: 5px;
        margin: 5px;
        width: 100%;
    }
    #select {
        border-radius: 10px;
        margin: 5px;
        background-color: darkgrey;
        width: 100%;
    }
    #clear--button p {
        font-size: 70%;
    }
    #select--search input {
        width: 90%;
        height: 80%;
    }
    .player--icon {
        width: 12%;
        height: 12%;
    }
    .theme {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: darkgrey;
        color: aliceblue;
        font-weight: normal;
        font-size: medium;
        user-select: none;
        text-align: center;
        margin: 2px;
    }
}